.app {
    padding: 30px;
    display: flex;

}

.app > div {
    margin-right: 50px;
}

.task {
    font-weight: bold;
}

.task-done {
    opacity: 0.5;
    text-decoration: line-through;
}

.btn-filter-active {
    background-color: #50b0ff;
    border: 2px solid #50b0ff;
    border-radius: 5px;
    color: white;
}

.error {
    border: red 1px solid;
}

.error-message {
    color: red;
}

.wrapper-title {
    display: flex;
    align-items: center;
    gap: 15px;
}